tab-item.active tab-item-substance {
  height: 39px !important;
}
tab-item.active .background {
  background-color: steelblue;
  box-shadow: none;
}



tab-item.active tab-twisty,
tab-item.active .label-content,
tab-item.active tab-counter {
  color: #fff;
}



#tabbar {
  counter-reset: vtabs atabs tabs;
  /* vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs */
}
tab-item:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
}
tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}
tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}
tab-item {
  counter-increment: tabs;
}

tab-item .extra-items-container.behind {
  z-index: unset !important;
}
tab-item:nth-child(-n+4) .extra-items-container.behind::after,
tab-item:nth-child(8) .extra-items-container.behind::after
{
  /*background: Highlight; */
  color: HighlightText;
  content: counter(tabs);
  font-size: x-small;
  right: 0.1em;
  padding: 0.3em;
  pointer-events: none;
  position: absolute;
  bottom: 0.2em;
  border-radius: 20px;
  z-index: 1000;
}


/* "#tabbar" is required for TST 3.4.0 and later! */
#tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
  opacity: 0;
}

:root.sidebar #background {
  background: #535353;
}




:root[color-scheme="system-color"][data-user-agent*="Linux"]
  tab-item:not(.active):not(.bundled-active):not(.highlighted),
:root[color-scheme="system-color"][data-user-agent*="Linux"]
  .after-tabs button,
:root[color-scheme="system-color"][data-user-agent*="Linux"]
  .after-tabs [role="button"],
:root[color-scheme="system-color"][data-user-agent*="Linux"]
  #subpanel-selector-anchor,
:root[color-scheme="system-color"][data-user-agent*="Linux"]
  #background {
  --toolbar-non-lwt-bgcolor: ThreeDShadow /* or something background color */;
  --toolbar-non-lwt-textcolor: ButtonText /* or something foreground color */;
}


